@model WebApplication1.Models.Locations.LocationDetailsModel;

<section>
    @if (Model != null)
    {
        <div class="categories__post">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="row">
                            @foreach (var item in Model.best_rated_restaurant)
                            {
                                <div id="restaurant-card" class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="categories__post__item">
                                        <div class="categories__post__item__pic small__item set-bg">
                                        </div>
                                        <div class="categories__post__item__text">
                                            <h3>@item.restaurant.name</h3>
                                            @foreach (var review in item.restaurant.all_reviews)
                                            {
                                            <p  class="post__label">@item.restaurant.all_reviews</p>

                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>