@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Thank you! Your email has been confirmed. You may now <a class="text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a></h1>